<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
    name="description" 
    content="Portofolio Web Page of Achmad Natsir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000">
    <link rel="apple-touch-icon" href="/icons/icon-N-192px.png">
    <link rel="icon" href="N-favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Natsir Web Profile</title>
</head>
<body>
    <header class="app-bar">
        <a href="#mainContent" class="skip-link">Menuju ke konten</a>
        <div class="app-bar__menu">
            <button aria-label="Open main-menu" id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Natsir</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Experience</a></li>
                <li><a href="https://www.linkedin.com/in/achmad-alghifari-72b8a7aa/">About</a></li>
            </ul>
        </nav>
        <!-- <img src="assets/img/logo-2.png" alt="logo" class="logo">
        <a href="#" class="navbar-toggle" id="navbar-toggle-menu">☰</a>
        <nav class="navbar" id="topnav">
            <ul class="main-nav" id="menu-bar">
                <li><a href="#About" class="link">About</a></li>
                <li><a href="#Experience" class="link">Experience</a></li>
                <li><a href="#Skill" class="link">Skill</a></li> 
                <li><a href="#Contact" class="link">Contact</a></li>
            </ul>
        </nav> -->
    </header>
    <div class="hero">
        <div class="hero-box">
            <img src="assets/img/banner.png" alt="natsir" class="jumbo-img">
        </div>
    </div>
    <main id="mainContent">
        <!-- <div class="content">
            <div class="left">
                <article class="card" id="About">
                    <section>
                        <h2 class="title">About Natsir</h2>
                        <hr>
                        <p>Achmad Natsir Alghifari lahir di Kendal, 21 Desember 1995. Saya merupakan seseorang yang tertarik dengan dunia teknologi, terutama pengembangan teknologi berbasis Web. Oleh karena itu saya tertarik mempelajari, mengimplimentasikan dan mengembangkan apa yang saya ketahui.
                        </p>
                    </section>
                    <section>
                        <h2 class="title">Education</h2>
                        <hr>
                        <h3 class="sub-title">SMA Muhamadiyah 1 Yk</h3>
                        <h5 class="sub-title">2011-2014</h5>
                        <img class="content-img" src="assets/img/muhi.jpg">
                        <p>
                        Etiam rutrum est et purus ornare iaculis. Donec varius elit pellentesque enim rutrum porttitor. Donec pulvinar massa velit, nec faucibus nibh consectetur eget. Quisque eu cursus risus. Mauris in felis vestibulum, dictum nisi at, fermentum nulla. Sed quis urna eget felis molestie varius. Vestibulum varius, urna ac egestas cursus, mauris odio facilisis neque, gravida accumsan ex eros in nulla.
                        </p>
                        <hr>
                        <h3 class="sub-title">Universitas Islam Indonesia - Jurusan Informatika</h3>
                        <h5 class="sub-title">2014-2020</h5>
                        <img class="content-img" src="assets/img/fti-uii.png">
                        <p>
                        Etiam rutrum est et purus ornare iaculis. Donec varius elit pellentesque enim rutrum porttitor. Donec pulvinar massa velit, nec faucibus nibh consectetur eget. Quisque eu cursus risus. Mauris in felis vestibulum, dictum nisi at, fermentum nulla. Sed quis urna eget felis molestie varius. Vestibulum varius, urna ac egestas cursus, mauris odio facilisis neque, gravida accumsan ex eros in nulla.
                        </p>
                    </section>
                </article>
                <article class="card" id="Experience">
                    <h2 class="title">Experience</h2>
                    <hr>
                    <h3 class="sub-title">PT Indocyber Global Teknologi</h3>
                    <h5 class="sub-title">Bootcamp IT Consultant</h5>
                    <h5 class="sub-title">November 2020 - December 2020</h5>
                    <p>
                        Pada bootcamp ini saya diberi tanggungjawab untuk mengerjakan project kecil dengan bahasa pemrograman Java dan database SQL Server
                    </p>
                    <hr>
                    <h3 class="sub-title">Universitas Islam Indoensia</h3>
                    <h5 class="sub-title">Web Developer</h5>
                    <h5 class="sub-title">January 2019 - May 2020</h5>
                    <p>
                        Saya tergabung dalam sebuah tim yang membuat sebuah website pembelajaran online. Saya diberi tanggungjawab sebagai full-stack developer modul course. Pada pekerjaan ini saya menggunakan teknologi Laravel dan Bootstrap.
                    </p>
                    <hr>
                    <h3 class="sub-title">Dinas Komunikasi, Informatika dan Persandian Kota Yogykarta</h3>
                    <h5 class="sub-title">Web Developer</h5>
                    <h5 class="sub-title">April 2018 - Juni 2018</h5>
                    <p>
                        Saya bertugas sebagai web developer. Saya diberi tanggungjawab untuk membuat sebuah sebuah website dengan tampilan yang lebih fresh dan simpel untuk menggantikan website yang lama. Teknologi yang saya gunakan pada pekerjaan adalah CodeIginiter dan Bootstrap
                    </p>
                </article>
                <article class="card" id="Portofolio">
                    <h2 class="title">My Portofolio</h2>
                    <hr>
                    <h3 class="sub-title"><a href="https://makan-mana-resto-app.web.app/">MakanMana Web App</a></h3>
                    <p>
                        Sebuah Web App yang menampilkan informasi restoran seperti rating, lokasi restoran, menu makanan, menu minuman dan review customer.
                    </p>
                    <hr>
                    
                </article>
                <!-- <article class="card" id="Skill">
                    <h2 class="title">Skill</h2>
                    <hr>
                    <h3 class="sub-title">Communication</h3>
                    <p>
                        Etiam rutrum est et purus ornare iaculis. Donec varius elit pellentesque enim rutrum porttitor. 
                    </p>
                    <h3 class="sub-title">Organization</h3>
                    <p>
                        Etiam rutrum est et purus ornare iaculis. Donec varius elit pellentesque enim rutrum porttitor. 
                    </p>
                    <h3 class="sub-title">Technology</h3>
                    <p>
                        Etiam rutrum est et purus ornare iaculis. Donec varius elit pellentesque enim rutrum porttitor. 
                    </p>
                </article> 
                <div id="Contact" class="contact card">
                    <div>
                        <h2 class="title">Contact Me!</h2>
                    </div>
                    <form>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Your name"><br>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Your email"><br>
                        <label for="message">Message</label>
                        <textarea id="message" name="message" placeholder="Write your message here" style="height:150px"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </div>
            <div class="right">
                <aside>
                    <div class="card profile">
                        <h2>Profile</h2>
                        <hr>
                        
                        <figure>
                            <img src="assets/img/natsir.jpg" class="profil-img">
                        </figure>
                        <h3>Achmad Natsir Alghifari</h3>
                        <h5>alghifarinatsir@gmail.com</h5>
                        <div class="social">
                            <h5>Find Me</h5>
                            <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>  
                            <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>  
                            <a href="#" class="social-link"><i class="fa fa-facebook"></i></a> 
                        </div>
                        
                    </div>
                    <div class="card profile">
                        <h2>Skill</h2>
                        <hr>
                        <h3 class="sub-title">Communication</h3>
                        <h3 class="sub-title">Organization</h3>
                        <h3 class="sub-title">Technology</h3>
                   
                    </div>
                    
                </aside>
            </div>
        </div> -->
    </main>
    <footer>
        Achmad Natsir Alghifari &#169; 2021
    </footer>
   
 
</body>

</html>